.content{
    width: 100%;
    height: 140px;
    background-color: #f77825;
    min-width: 660px;

    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 30px;
    padding-left: 30px;

    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.content svg {
    font-size: 40px;
}

@media (max-width: 660px){
    .content{
        width: 100%;
        min-width: 400px;
        
    }
}